{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main id="page-login">
    <div class="container m-fluid">
        <div class="page-wrapper flex flex-dir-col justify-center align-center">
            <h1 class="page-title">terraceパスワードリセット</h1>
            <div class="login-box">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div class="login-form">
                    
                    <h2 class="login-form--title primary-input-texting">ご登録のメールアドレスを入力</h2>
                    <form class="login" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="login-btn primary-input-texting" value="">パスワードをリセットする</button>
                    </form>

                    <p class="action-text primary-input-texting">ログインは<a href="{% url 'account_login' %}" >こちら</a></p>
                    <p class="action-text primary-input-texting">新規登録は<a href="{% url 'account_signup' %}">こちら</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
