{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main id="page-login">
    <div class="container m-fluid">
        <div class="page-wrapper flex flex-dir-col justify-center align-center">
            <h1 class="page-title">{% trans "Change Password" %}</h1>
            <div class="login-box">
                <div class="login-form">
                    <p class="action-text primary-input-texting">{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
