{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main id="page-login">
    <div class="container m-fluid">
        <div class="page-wrapper flex flex-dir-col justify-center align-center">
            <h1 class="page-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            <div class="login-box"> 
                <div class="login-form">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="action-text primary-input-texting white">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form class="login" method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="login-btn primary-input-texting" type="submit" name="action" value="">{% trans 'change password' %}</button>
                        </form>
                    {% else %}
                        <p class="action-text primary-input-texting white">{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
