{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main id="page-login">
    <div class="container m-fluid">
        <div class="page-wrapper flex flex-dir-col justify-center align-center">
            <h1 class="page-title">terraceパスワードリセット</h1>
            <div class="login-box">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="action-text primary-input-texting white">パスワード再設定用のメールを送信しました。数分たっても届かない場合はご連絡ください。</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
