{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <main id="page-login">
    <div class="container m-fluid">
      <div class="page-wrapper flex flex-dir-col justify-center align-center">
          <h1 class="page-title">ログイン</h1>

          <div class="login-box">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <div class="sign-with-google">
              <h3 class="sign-with-google--title primary-input-texting">グーグルアカウントで登録</h3>
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% endif %}
            <div class="login-form">
              <h2 class="login-form--title primary-input-texting">メールアドレスとパスワード登録</h2>
              <form class="login" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}

                <button class='login-btn primary-input-texting' type="submit">登録する</button>
              </form>
              <p class="action-text primary-input-texting">既にアカウントをお持ちの方は<a href="{{ login_url }}">こちら</a></p>  
              
                
            </div>

          </div>

      </div>
  </div>
  </main>
{% endblock %}
