{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <main id="page-login">
    <div class="container m-fluid">
      <div class="page-wrapper flex flex-dir-col justify-center align-center">
          <h1 class="page-title">新規登録</h1>

          <div class="login-box">
            
            <div class="login-form">
              <h2 class="login-form--title primary-input-texting">メールアドレスとパスワード登録</h2>
              <form class="login" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}

                <button class='login-btn primary-input-texting' type="submit">登録する</button>
              </form>
              <p class="action-text primary-input-texting">既にアカウントをお持ちの方は<a href="{{ login_url }}">こちら</a></p>              
                
            </div>

          </div>

      </div>
  </div>
  </main>
{% endblock %}
