.primary-input-texting{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: var(--orange);
}

.login-box{
    width: 570px;
    background-color: var(--orange);
    border-radius: 25px;
    padding: 40px 80px;

    .sign-with-google{
        margin-bottom: 40px;
        &--title{
            color: #fff;
            text-align: left;
        }
    }

    .login-form{
        &--title{
            color: #fff;
            text-align: left;
        }

        .action-text{
            color: #fff;
            display: block;
        }
    }

}

form{

    .form-input-group{
        display: flex;
        width: 100%;
        background-color: #fff;
        padding: 15px 5px;
        padding-right: 20px;
        border-radius: 10px;
        margin-top: 10px;

        label{
            font-size: 20px;
            font-weight: normal;
            line-height: 30px;
            color: var(--orange);
        }

        input{
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            border: none;
            

            &::placeholder{
                font-size: 20px;
                font-weight: normal;
                line-height: 30px;
                color: var(--orange);
                text-align: center;
            }

            &:focus{
                outline: none;
            }
        }

    }

    .login-btn{
        color: white;
        border: solid 2px #fff;
        border-radius: 6px;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

}

.confirmation-text{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;

    &.sp{
        font-size: 18px;
        color: #fff;
        line-height: 30px;
    }
}

@media (max-width: 600px){

    .login-box{
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 400px){
    .login-box{
        padding: 20px 40px;
    }
}