container_commands:    
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
        leader_only: true
    03_makesuper:
        command: "source /var/app/venv/*/bin/activate && python manage.py makesuper"
        leader_only: true
