<footer>
  <div class="container footer-container">
      <div class="col">
          <h1 class="footer-brand">eSIM</h1>
      </div>
      <div class="col">
          <ul class="footer-menu-lists">
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">利用規約</a>
              </li>
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">特定商取引に基づく表記</a>
              </li>
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">プライバシーポリシー</a>
              </li>
          </ul>
      </div>
      <div class="col">
          <ul class="footer-menu-lists">
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">特別オファーリクエスト</a>
              </li>
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">販売者申請</a>
              </li>
              <li class="footer-menu-lists--list">
                  <a href="#" class="footer-menu-lists--list-link">お問い合わせ</a>
              </li>
          </ul>
      </div>
      <div class="col">
          <ul class="footer-social-links">
              <li class="footer-social-links--link">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
          </ul>
      </div>
  </div>
</footer>