{% extends "base.html" %} {% block content %}
{% load static %}

<main>
  <!--Hero section starts-->
  <div class="hero m-flex m-direction-column-rev">
    <div class="container flex align-center">
      <div class="col">
        
      </div>
    </div>
    <div class="col sp">
        <img src="{% static 'images/aaa.png' %}" alt="">
    </div>
  </div>
  <!--Hero section ends-->

  <!--Section: Products v.3-->
  <section class="mt-3">
    <div class="container">
      <div class="section--wrap flex align-end">
        <h1 class="section--wrap--title title-btn">人気のレポート</h1>
        <a href="{% url 'core:products' %}" class="section--wrap--more">全てのレポートを見る</a>
      </div>
      <div class="reports">
        
      </div>
    </div>
  </section>
  <!--Section: Products v.3-->

  <!--Section Features starts-->
  <section id="feature">
    
    
  </section>
  <!--Section Features ends-->
  
</main>

{% endblock content %}
